@layer theme, base, reset, antd, components, utilities;
@import url("antd/dist/reset.css") layer(reset);
@import "tailwindcss";

@layer theme {
  :root {
    --white: #fff;
    --black: #000;
    --background: #080a0f;
    --text: #fff;
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
      background: var(--background);
      color: var(--text);
    }
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}